body {
    margin: 0px;    
}

#gameboard {
    background: black;
    height: 400px;
    width: 550px;
}

#tray {
    width: 90px;
    height: 10px;
    position: absolute;
    top: 385px;
    left: 230px;
    background: white;
}

#ball {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 200px;
    left: 270px;
    background: white;
}

#lives {
    text-align: left;
    color: white;
    display: inline;
    margin: 30px;
}

#score {
    left: 450px;
    position:absolute;
    text-align: right;
    color: white;
    display: inline;
}

.brick {
    width: 9px;
    height: 9px;
    position: absolute;
    background: white;
}